<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>

	<entry key="selectListCount">
	SELECT
		   COUNT(*) COUNT
      FROM NORMALBOARD
	 WHERE USER_ADMIN = 'Y'
	    OR USER_ADMIN = NULL
	
	</entry>
	
	<entry key="selectList">
		SELECT *
		  FROM (
		        SELECT ROWNUM RNUM, A.*
		          FROM (
		                SELECT 
		                       BOARD_NO
		                     , CATEGORY_NAME
		                     , COUNT
		                     , CREATE_BOARD           
		                     , NBOARD_TITLE
		                     , USER_NAME
                 FROM NORMALBOARD N
                 JOIN CATEGORY USING(CATEGORY_NO)
                 JOIN MEMBER ON (USER_NOM = USER_NO)
                 WHERE N.USER_ADMIN = 'Y'
                  ORDER
		                    BY CREATE_BOARD DESC
		                ) A
		        )
		 WHERE RNUM BETWEEN ? AND ?
	</entry>
	
	<entry key ="selectCategoryList">
		 SELECT
		 		CATEGORY_NO
		 	  , CATEGORY_NAME
		   FROM CATEGORY
	</entry>

	<entry key="insertBoard">
	
	INSERT
		  INTO NORMALBOARD
		  (
		    BOARD_NO
		   ,CATEGORY_NO
		   ,NBOARD_TITLE
		   ,NBOARD_CTT
		   ,USER_NOM
		   )
		   VALUES
		   (
		    SEQ_BNO.NEXTVAL
		    ,1
		    ,?
		    ,?
		    ,?
		    ,?
		    );
		    
	
	</entry>
	
	<entry key = "insertAttachment">
	
	INSERT
		  INTO ATTACHMENT
		  ( 
		   FILE_NO
		  ,REF_BNO
		  ,ORIGIN_NAME
		  ,CHANGES_NAME
		  ,FILE_PATH
		  )
		  VALUES
		  ( SEQ_FNO.NEXTVAL
		  , SEQ_BNO.CURRVAL
		  , ?
		  , ?
		  , ?
		  )
	</entry>
</properties>
